In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bengkulu,ID,2022-03-28 01:08:15,-3.8004,102.2655,76.60,79,20,5.50
1,1,Havelock,US,2022-03-28 01:08:16,34.8791,-76.9013,55.92,44,0,6.91
2,2,Inirida,CO,2022-03-28 01:08:16,3.8653,-67.9239,74.05,96,90,3.31
3,3,Siavonga,ZM,2022-03-28 01:08:16,-16.5382,28.7088,73.31,88,95,4.43
4,4,Shitanjing,CN,2022-03-28 01:08:17,39.2342,106.3439,42.93,33,12,10.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bengkulu,ID,2022-03-28 01:08:15,-3.8004,102.2655,76.60,79,20,5.50
8,8,Kapaa,US,2022-03-28 01:08:19,22.0752,-159.3190,79.20,71,40,11.50
10,10,Ailigandi,PA,2022-03-28 01:08:20,9.2333,-78.0167,78.76,87,93,12.93
12,12,Cabo San Lucas,MX,2022-03-28 01:08:22,22.8909,-109.9124,83.50,26,40,6.91
15,15,Rikitea,PF,2022-03-28 01:08:03,-23.1203,-134.9692,79.30,63,5,7.54
19,19,Sao Joao Da Barra,BR,2022-03-28 01:04:38,-21.6403,-41.0511,77.11,91,3,3.78
22,22,Cayenne,GF,2022-03-28 01:08:27,4.9333,-52.3333,81.09,1,75,8.05
23,23,Vaini,TO,2022-03-28 01:08:27,-21.2000,-175.2000,84.36,79,75,4.61
26,26,Touros,BR,2022-03-28 01:08:29,-5.1989,-35.4608,80.26,83,96,9.95
27,27,Atuona,PF,2022-03-28 01:08:30,-9.8000,-139.0333,79.11,78,91,15.37

In [27]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0            Bengkulu      ID     76.60  -3.8004  102.2655
8               Kapaa      US     79.20  22.0752 -159.3190
10          Ailigandi      PA     78.76   9.2333  -78.0167
12     Cabo San Lucas      MX     83.50  22.8909 -109.9124
15            Rikitea      PF     79.30 -23.1203 -134.9692
19  Sao Joao Da Barra      BR     77.11 -21.6403  -41.0511
22            Cayenne      GF     81.09   4.9333  -52.3333
23              Vaini      TO     84.36 -21.2000 -175.2000
26             Touros      BR     80.26  -5.1989  -35.4608
27             Atuona      PF     79.11  -9.8000 -139.0333

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bengkulu,ID,76.60,-3.8004,102.2655,Grage Hotel Bengkulu
8,Kapaa,US,79.20,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Ailigandi,PA,78.76,9.2333,-78.0167,Akwa Reef Lodge
12,Cabo San Lucas,MX,83.50,22.8909,-109.9124,Hotel Tesoro Los Cabos
15,Rikitea,PF,79.30,-23.1203,-134.9692,People ThankYou
19,Sao Joao Da Barra,BR,77.11,-21.6403,-41.0511,Pousada Porto De Canoas
22,Cayenne,GF,81.09,4.9333,-52.3333,Hôtel Le Dronmi
23,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
26,Touros,BR,80.26,-5.1989,-35.4608,INN NEW HORIZON
27,Atuona,PF,79.11,-9.8000,-139.0333,Villa Enata

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))